{% sw_extends '@Storefront/storefront/component/line-item/type/product.html.twig' %}

{% block component_line_item_type_product_details_container %}
    {% block component_line_item_type_product_details_container_loyalty %}

        {% set loyaltyProgramConfig = config('LoyaltyProgram') %}
        {% set pointsCalculationType = loyaltyProgramConfig.config.pointsCalculationType %}

        {% set loyaltyPoints = lineItem.payload.customFields.loyalty_product_points %}

        {% if pointsCalculationType == 'price' %}
            {% set pointsCalculationPriceMultiplier = loyaltyProgramConfig.config.pointsCalculationPriceMultiplier %}

            {% set loyaltyPoints = lineItem.price.unitPrice * pointsCalculationPriceMultiplier %}
            {% set loyaltyPoints = loyaltyPoints / 10 %}
            {% set loyaltyPoints = loyaltyPoints|round(0, 'ceil') * 10 %}
        {% endif %}

        {% if loyaltyPoints %}
            <div class="d-flex justify-content-start pb-2">
                {% sw_include '@LoyaltyProgram/storefront/utilities/points.html.twig' with { points: loyaltyPoints } %}
            </div>
        {% endif %}
    {% endblock %}

    {{ parent() }}
{% endblock %}