{% sw_extends '@Storefront/storefront/page/account/index.html.twig' %}

{% block page_account_main_content %}
    {% block page_account_loyalty_rewards_title %}
        <h1>{{ "loyaltyProgram.global.rewardsTitle"|trans|sw_sanitize }}</h1>
    {% endblock %}

    {% block page_account_loyalty_rewards %}
        {% if rewards|length > 0 %}
            <div class="loyalty-rewards-grid row row-gap-4">
                {% for reward in rewards %}
                    <div class="col-12 col-sm-6 col-md-4">

                        {% sw_include '@Storefront/storefront/elements/loyalty/reward/card.html.twig' with {
                            item: reward,
                            currency: context.currency
                        } %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                type: 'info',
                content: "loyaltyProgram.global.noRewardsFound"|trans|sw_sanitize
            } %}
        {% endif %}
    {% endblock %}

    {% block page_account_loyalty_rewards_discounts %}
        {% if promotions is defined and promotions is not empty %}
            <div class="rewarded-promotions">
                <div class="rewarded-promotions-header">
                    <h3>{{ "loyaltyProgram.global.redeemedDiscounts"|trans }}</h3>
                </div>
                <div class="rewarded-promotions-items">
                    {% for promotion in promotions %}
                        <div class="rewarded-promotions-item">
                            {{ promotion.translated.name }}
                            <strong>{{ promotion.code }}</strong>

                            {% if promotion.orderCount < promotion.maxRedemptionsGlobal %}
                                <div class="bg-success">
                                    VALID
                                </div>
                                VALID
                            {% else %}
                                <div class="bg-danger">
                                    INVALID
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>

        {% endif %}
    {% endblock %}
{% endblock %}