.card.product-box:not(.reward-box) {
  position: relative;

  .loyalty-points-display {
    position:absolute;
    z-index: 2;

    top: $spacer;
    left: $spacer;
  }
}

.reward-box {
  .loyalty-points-display {
    background-color: transparent;
    padding: 0 !important;
  }
}