{% block loyalty_reward_detail %}
    <sw-page class="loyalty-reward-detail" v-if="item">

        {% block loyalty_reward_detail_smart_bar_header %}
            <template #smart-bar-header>
                {% block loyalty_reward_detail_smart_bar_header_title %}
                    <h2>{{ $tc('loyalty-program.general.rewardsSingularLabel') }}</h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block loyalty_reward_detail_smart_bar_language %}
            <template #language-switch>
                <sw-language-switch @on-change="onChangeLanguage"
                                    :disabled="$route.params.newItem"></sw-language-switch>
            </template>
        {% endblock %}

        {% block loyalty_reward_detail_smart_bar_actions %}
            <template #smart-bar-actions>
                {% block loyalty_reward_detail_smart_bar_actions_cancel %}
                    <sw-button :disabled="item.isLoading" :routerLink="{ name: 'loyalty.program.rewards.index' }">
                        {{ $tc('loyalty-program.rewards.general.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block loyalty_reward_detail_smart_bar_actions_save %}
                    <sw-button-process
                            class="loyalty-reward-detail__save-action"
                            :isLoading="isLoading"
                            :processSuccess="processSuccess"
                            variant="primary"
                            :disabled="disabled"
                            @process-finish="saveFinish"
                            @click="onClickSave">
                        {{ $tc('loyalty-program.rewards.general.buttonSave') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block loyalty_reward_detail_content %}
            <template #content>
                <sw-card-view>

                    {% block loyalty_reward_detail_content_settings_media_modal %}
                        <sw-media-modal-v2
                                v-if="showMediaModal"
                                :allow-multi-select="false"
                                :initial-folder-id="mediaDefaultFolderId"
                                :entity-context="item.getEntityName()"
                                @modal-close="showMediaModal = false"
                                @media-modal-selection-change="onMediaSelectionChange"
                        />
                    {% endblock %}

                    {% block loyalty_reward_detail_content_settings_main %}
                        <sw-card :isLoading="isLoading" v-if="item"
                                 :title="$tc('loyalty-program.rewards.general.settingsLabel')">

                        {% block loyalty_reward_detail_content_type %}
                                <sw-single-select v-model:value="item.type"
                                                  required
                                                  show-clearable-button
                                                  :options="typeOptions"
                                                  @update:value="onTypeChange"
                                                  class="loyalty-reward-detail__item_type"
                                                  :label="$tc('loyalty-program.rewards.detail.fieldTitleLabelType')"
                                                  :helpText="$tc('loyalty-program.rewards.detail.fieldTitleHelpTextType')"
                                                  :placeholder="$tc('loyalty-program.rewards.detail.fieldTitlePlaceholderType')">
                                </sw-single-select>
                        {% endblock %}

                                {% block loyalty_reward_detail_content_points %}
                                        <sw-number-field v-model:value="item.points"
                                                         class="loyalty-reward-detail__item_points"
                                                         numberType="int"
                                                         min="1"
                                                         :label="$tc('loyalty-program.rewards.detail.fieldTitleLabelPoints')"
                                                         :helpText="$tc('loyalty-program.rewards.detail.fieldTitleHelpTextPoints')"
                                                         :placeholder="placeholder(item, 'points', $tc('loyalty-program.rewards.detail.fieldTitlePlaceholderPoints'))">
                                        </sw-number-field>
                                {% endblock %}

                            {% block loyalty_reward_detail_content_name %}
                                <sw-text-field v-model:value="item.name"
                                               required
                                               class="loyalty-reward-detail__item_name"
                                               :label="$tc('loyalty-program.rewards.detail.fieldTitleLabelName')"
                                               :placeholder="$tc('loyalty-program.rewards.detail.fieldTitlePlaceholderName')">
                                </sw-text-field>
                            {% endblock %}

                                {% block loyalty_reward_detail_content_description %}
                                        <sw-text-editor v-model:value="item.description"
                                                        :label="$tc('loyalty-program.rewards.detail.fieldTitleLabelDescription')"
                                                        @input="onEditorChange"
                                                        @blur="onEditorChange">
                                        </sw-text-editor>
                                {% endblock %}



                            {% block loyalty_reward_detail_content_active_checkbox_select %}
                                <sw-switch-field v-model:value="item.active"
                                             class="loyalty-reward-detail__item_active"
                                             :label="$tc('loyalty-program.rewards.detail.fieldTitleLabelActive')"
                                             :helpText="$tc('loyalty-program.rewards.detail.fieldTitleHelpTextActive')">
                                </sw-switch-field>
                            {% endblock %}


                            {% block loyalty_reward_detail_content_settings_image %}
                                <sw-upload-listener
                                        auto-upload
                                        :upload-tag="uploadTag"
                                        @media-upload-finish="onUploadMedia"
                                />
                                <sw-media-upload-v2
                                        class="loyalty-program-rewards-image-upload"
                                        :upload-tag="uploadTag"
                                        :source="mediaItem"
                                        :source-context="item"
                                        :default-folder="mediaDefaultFolderId"
                                        :label="$tc('loyalty-program.rewards.detail.fieldTitleLabelImage')"
                                        :allow-multi-select="false"
                                        @media-drop="onDropMedia"
                                        @media-upload-sidebar-open="onOpenMedia"
                                        @media-upload-remove-image="onRemoveMedia"
                                />
                            {% endblock %}

                        </sw-card>


                        <sw-card :isLoading="isLoading" v-if="item && item.type === 'discount'"
                                 :title="$tc('loyalty-program.rewards.general.discountLabel')">


                                {% block loyalty_reward_detail_content_type %}
                                        <sw-single-select v-model:value="item.discountMethod"
                                                  show-clearable-button
                                                  :options="discountMethodOptions"
                                                  @update:value="onDiscountTypeChange"
                                                  class="loyalty-reward-detail__item_discount_method"
                                                  :label="$tc('loyalty-program.rewards.detail.fieldTitleLabelDiscountMethod')"
                                                  :helpText="$tc('loyalty-program.rewards.detail.fieldTitleHelpTextDiscountMethod')"
                                                  :placeholder="$tc('loyalty-program.rewards.detail.fieldTitlePlaceholderDiscountMethod')">
                                        </sw-single-select>
                                {% endblock %}

                                {% block loyalty_reward_detail_content_discount_percentage %}
                                        <sw-number-field v-model:value="item.discountPercentage"
                                                         v-if="item.discountMethod === 'percentage'"
                                                         required
                                                         class="loyalty-reward-detail__item_discount_percentage"
                                                         numberType="int"
                                                         min="1"
                                                         :label="$tc('loyalty-program.rewards.detail.fieldTitleLabelDiscountPercentage')">
                                                <template #suffix>
                                                        <span>%</span>
                                                </template>
                                        </sw-number-field>
                                {% endblock %}

                                {% block loyalty_reward_detail_content_discount_fixed %}
                                        <sw-number-field v-model:value="item.discountFixed"
                                                         v-if="item.discountMethod === 'fixed'"
                                                         required
                                                         class="loyalty-reward-detail__item_discount_fixed"
                                                         numberType="int"
                                                         min="1"
                                                         :label="$tc('loyalty-program.rewards.detail.fieldTitleLabelDiscountFixed')">
                                        </sw-number-field>
                                {% endblock %}
                        </sw-card>
                    {% endblock %}


                </sw-card-view>
            </template>
        {% endblock %}

    </sw-page>
{% endblock %}
