{% block loyalty_reward_list %}

    <sw-page class="loyalty-reward-list">

        {% block loyalty_reward_list_smart_bar_header %}
            <template #smart-bar-header>
                {% block loyalty_reward_list_smart_bar_header_title %}
                    <h2>
                        {% block loyalty_reward_list_smart_bar_header_title_text %}
                            {{ $tc('loyalty-program.general.rewardsLabel') }}
                        {% endblock %}

                        {% block loyalty_reward_list_smart_bar_header_amount %}
                            <span v-if="!isLoading" class="sw-page__smart-bar-amount">
                        ({{ total }})
                        </span>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block loyalty_reward_list_smart_bar_language %}
            <template #language-switch>
                <sw-language-switch @on-change="onChangeLanguage"></sw-language-switch>
            </template>
        {% endblock %}

        {% block loyalty_reward_list_smart_bar_actions %}
            <template #smart-bar-actions>
                {% block loyalty_reward_list_smart_bar_actions_add %}
                    <sw-button variant="primary" :routerLink="{ name: 'loyalty.program.rewards.create' }">
                        {{ $tc('loyalty-program.rewards.general.create') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block loyalty_reward_list_cardview %}
            <template #content>
                <div class="loyalty-reward-list__content">
                    {% block loyalty_reward_list_content %}
                        <sw-entity-listing class="loyalty-reward-list-grid"
                                           v-if="items && total > 0"
                                           :items="items"
                                           :repository="entityRepository"
                                           detailRoute="loyalty.program.rewards.detail"
                                           :showSeleciton="true"
                                           :isLoading="isLoading"
                                           :columns="columns">

                            <template #column-discountMethod="{ item }">
                                <sw-label
                                        appearance="pill"
                                >
                                    {{ item.discountMethod }}
                                </sw-label>
                            </template>

                            <template #column-type="{ item }">
                                <sw-label
                                        v-if="item.type === 'product'"
                                        variant="info"
                                        appearance="pill"
                                >
                                    {{ item.type }}
                                </sw-label>
                                <sw-label
                                        v-else
                                        variant="warning"
                                        appearance="pill"
                                >
                                    {{ item.type }}
                                </sw-label>
                            </template>

                            <template #pagination>
                                {% block sw_order_list_grid_pagination %}
                                    <sw-pagination :page="page"
                                                   :limit="limit"
                                                   :total="total"
                                                   :total-visible="7"
                                                   @page-change="onPageChange">
                                    </sw-pagination>
                                {% endblock %}
                            </template>

                        </sw-entity-listing>
                    {% endblock %}

                    {% block loyalty_reward_list_empty_state %}
                        <sw-empty-state v-if="!isLoading && total === 0" :title="$tc('loyalty-program.rewards.list.contentEmpty')"></sw-empty-state>
                    {% endblock %}

                </div>
            </template>
        {% endblock %}

    </sw-page>
{% endblock %}
